@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}
body {
    display: flex;
    width: 100%;
    background: #FFEFD5;
}
span {
    font-weight: bold;
}
h4 {
    font-size: large;
    color: brown;
    line-height: 2em;
}
.principal {
    display: flex;
    flex-direction: column;
    margin: 7% auto;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 520px;
    padding: 30px;
    min-width: 320px;
    background: #fff;
    border-radius: 7px;
}
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem img {
    width: 100%;
    border-radius: 10px;
}
.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline ;
    width: 90%;
    padding: 12px 0px 12px 12px;
    gap: 10px;
    background: #FFEFD5;
    border-radius: 7px;
}
.lista ul {
    padding: 2% 0 2% 7%;
    line-height: 1.7em;
}
.segunda-lista {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline ;
    width: 95%;
    margin-left: 2.7%;
    padding: 12px 12px 10px 0px;
    gap: 7px;
    border-radius: 7px;
}
.segunda-lista ul{
    padding: 2% 0 2% 5%;
    line-height: 1.5em;
}
.segunda-lista ol{
    padding: 2% 0 2% 5%;
    line-height: 1.5em;
}
.linha { 
    width: 90%;

}
