@charset "UTF-8";

@font-face {
  font-family: fonte-principal;
  src: url("Fontes/Ysabeau-Italic-VariableFont_wght.ttf");

  font-family: fonte-secundaria;
  src: url("Fontes/Bebas-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}
body {
  display: flex;
  width: 100%;
  background: #ffefd5;
}
span {
  font-weight: bold;
}
h1 {
  font-family: fonte-principal sans-serif;
  font-size: 2.2em;
  font-weight: bold;
}
h2 {
  font-size: 1.7em;
  font-family: fonte-secundaria;
  color: brown;
}
h4 {
  font-family: fonte-secundaria;
  font-size: 1.2em;
  color: brown;
  line-height: 2em;
}
p {
  font-family: "Gill Sans", "Trebuchet MS", sans-serif;
  font-size: 0.97em;
}
#receitas {
  list-style-type: none;
  padding-left: 2%;
}
.principal {
  display: flex;
  flex-direction: column;
  margin: 7% auto;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 720px;
  padding: 30px;
  min-width: 320px;
  background: #fff;
  border-radius: 7px;
}
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagem img {
  width: 100%;
  border-radius: 10px;
}
.lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 90%;
  padding: 12px 0px 12px 12px;
  gap: 10px;
  background: #ffefd5;
  border-radius: 7px;
}
.lista ul {
  padding: 2% 0 2% 7%;
  line-height: 1.7em;
}
.segunda-lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 95%;
  margin-left: 2.7%;
  padding: 12px 12px 10px 0px;
  gap: 7px;
  border-radius: 7px;
  font-size: 1em;
}
.segunda-lista ul {
  padding: 2% 0 2% 6%;
  line-height: 1.5em;
}
#ajuste {
  width: 90%;
}
.linha {
  width: 100%;
}
#texto {
  padding-top: 0.7px;
  padding-bottom: 4px;
  background-color: white;
}
#calorias {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 230px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 30px;
}
#carb {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 253px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 30px;
}
#prot {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 235px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 30px;
}
#fat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 261px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 30px;
}
.tipo {
  font-weight: bold;
  color: brown;
  font-size: 16px;
  line-height: 7px;
}
